main{
    display: flex;
    flex-wrap: nowrap;
}

.container-table{
    box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 20%);
    display: block;
    height: calc(100vh - 130px);
    overflow: auto;
    position: relative;
    margin: 15px 15px 15px 15px;
}
.container-table::-webkit-scrollbar {
    -webkit-appearance: none;
}

.container-table::-webkit-scrollbar:vertical {
width:10px;
}

.container-table::-webkit-scrollbar-button:increment,.container-table::-webkit-scrollbar-button {
    display: none;
} 

.container-table::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.container-table::-webkit-scrollbar-track {
    border-radius: 10px;  
}

.row-tittle{
    text-align: center;
    padding: 15px;
}
h1{
    font-family: 'Roboto', sans-serif;
}
.b-example-divider{
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}
.nav-link-green{
    background-color: #23ac6e !important;
}

.table-green{
    background-color: #23ac6e !important;
}
.align-text{
    text-align: center;
}

.status-success{
    font-weight: bold;
    color: green;
}

.status-reject{
    font-weight: bold;
    color: red;
}

.status-send{
    font-weight: bold;
    color: blue;
}

td{
    font-family: 'Roboto', sans-serif;
}
label{
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #23ac6e;
}

.containerForm{
    box-shadow: 1px 1px 10px 2px rgb(0 0 0 / 20%);
    display: block;
    max-height: calc(100vh - 175px);
    overflow: auto;
    position: relative;
    margin: 15px 15px 15px 15px;
    padding: 15px;
}

.container-button{
    display: flex;
    justify-content: center;
}
